<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo list</title>
</head>

<body>
  <h1>Todo list</h1>
  <ul id="tasks">
    <% for (var i = 0, c = thingsToDo.length; i < c; i++) { %>
    <li>
      <%= thingsToDo[i] %>
      <a class="delete" href="delete/<%=i%>" data-index="<%=i%>"><img src="delete-1-icon.png" alt="" width="10" height="10"></a>
    </li>
    <% } %>
  </ul>
  <form class="" action="/add" method="post">
    <input type="text" name="task" value="" id="task" autocomplete="off">
    <input type="image" src="sign-add-icon.png" alt="Soumettre le formulaire">
  </form>
  <!-- using JQuery -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <!-- Le client récupère socket.io.js -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="main.js"></script>
</body>

</html>