<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo list</title>
</head>

<body>
  <h1>Todo list</h1>
  <p>Nombre de vues : <%= views %></p>
  <li>
    <%
    for (var i = 0, c = thingsToDo.length; i < c; i++) {
      %>
    <ul>
      <%= thingsToDo[i]; %>
      <a href="delete/<%=i%>"><img src="delete-1-icon.png" alt="" width="10" height="10"></a>
    </ul>

    <%
}
     %></li>
</body>

</html>
